<div class='container'>
  <header>
    <h1>Last Minute Cocktails</h1>
  </header>
  <div class='row d-flex justify-content-center'>
    <%= render partial: 'cocktail_card', collection: @cocktails %>
  </div>
</div>
