// Specific CSS for your home-page

body {
  background: lemonchiffon;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

header {
}

#cocktail-hero {

}

.highlight {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, var(--op-green) 65%);
}

p, li {
  font-size: 0.8rem;
}
