<nav class="navbar fixed-top">
  <a href="#" class="navbar-brand">
  <div class='navbar-text ml-4'>
    LastMinuteCocktails <i class="fas fa-cocktail"></i>
  </div>
    </a>
    <%= link_to new_cocktail_path do %>
      <button class='btn btn-primary'>Add a cocktail</button>
    <% end %>
</nav>