  <div id="main-banner">
  <div class="container d-flex justify-content-center flex-column h-100">
  <div>
    <h1 class="my-3 headline">Try our award-winning cocktail recipes.</h1>
  </div>
   <%= simple_form_for :home_search, wrapper: :inline_form, html: { id: 'search-form', class: 'form-inline my-5', data: { controller: 'pages' } }, url: search_path, method: :get do |f| %>
      <%= f.input :keyword, label: false, class: 'form-control-lg' %>
      <%= f.button :submit, "I'm thirsty", class: 'btn-primary', id: 'search-button' %>
    <% end %>
      </div>
  </div>
  </div>

