#search-form {
  display: flex;
  margin-top: 2rem;
}


#select2-query-container {
  height: 4rem;
  background-color: white;
  font-size: 1.3rem;
  display: flex;
  align-items: center;

}

.select2-results {
  height: 10rem;
  font-size: 1.3rem;
  overflow: scroll;
}

.custom-select {
  height: 3rem;
  font-size: 1.3rem;
}

.select2-search__field {
  font-size: 1.3rem;

}

.select2-results__option {
  font-size: 1.3rem;
}

.select2-container .select2-selection--single {
  display: inline;
  cursor: text;
}

.search-btn {
  height: 4rem;
  font-size: 1.5rem;
}